<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <main>
            <div>
                <h1>Weather App</h1>
                <form>
                    <input type="text" placeholder="Drop a place">
                    <button>Search</button>
                </form>

                <p id="message1"></p>
                <p id="message2"></p>
            </div>
        </main>
        <hr>
        <footer>
            <p>Created By Surya &copy; 2019</p>
        </footer>
        <script src="../public/js/main.js"></script>
    </body>
</html>